server {
    return 404;
}

server {
    listen 80;
#    listen 443;

#    server_name 13.125.78.124 hanoul.kr www.hanoul.kr api.hanoul.kr;
    server_name 13.209.151.169 eightbitstudio.com;

    charset utf-8;

    client_max_body_size 128M;

    location / {
        uwsgi_pass  unix:///tmp/app.sock;
        include     uwsgi_params;
    }

    location /static/ {
        alias   /srv/projects/healthcare/.static/;
    }

    location /media/ {
        alias   /srv/projects/healthcare/.media/;
    }

#    listen 443 ssl; # managed by Certbot
#    ssl_certificate /etc/letsencrypt/live/hanoul.kr/fullchain.pem; # managed by Certbot
#    ssl_certificate_key /etc/letsencrypt/live/hanoul.kr/privkey.pem; # managed by Certbot
#    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
#    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

#server {
#    if ($host = hanoul.kr) {
#        return 301 https://$host$request_uri;
#    } # managed by Certbot
#
#
#    listen 80;
#    server_name localhost 13.125.78.124 hanoul.kr www.hanoul.kr api.hanoul.kr;
#    return 404; # managed by Certbot
#}

