server {
    return 404;
}

server {
    listen 80;
#    listen 443;
    server_name 13.209.151.169 eightbitstudio.com;
    charset utf-8;
    client_max_body_size 128M;

    location / {
        uwsgi_pass  unix:///tmp/app.sock;
        include     uwsgi_params;
    }

    location /static/ {
        alias   /srv/projects/healthcare/.static/;
    }

    location /media/ {
        alias   /srv/projects/healthcare/.media/;
    }
}
